header{
    background-color: yellow;
    padding: 20px 0;
}

body{
    margin: 0;
    font-family:'Roboto', sans-serif;
}

/* section header-text */

.header-text{
    padding-top: 10px;
    text-align: center;
}

.span_1{
    font-weight: bold;
    font-size: 25px;
}

.span_2{
    font-weight: bold;
    font-size: 50px;
    color: red;
}

.span_3{
    background-color: red;
    color: white;
    font-size: 17px;
    padding: 1px;
    margin-bottom: 30px;
    animation-name: WTF;
    animation-duration: 0.4s;
    animation-iteration-count: infinite;
}

@keyframes WTF{
    0%{
        color: rgb(255, 0, 221);
    }

    25%{
        color: rgb(0, 255, 0);
    }

    50%{
        color: rgb(0, 4, 255);
    }

    75%{
        color: rgb(255, 255, 0);
    }

    100%{
        color: rgb(255, 0, 221);
    }
}

.sup{
    font-size: 20px;
    margin-left: 10px;
}

/* section header-image */

.header-images{
    display: flex;
    justify-content: center;
    margin-bottom: 5;
    align-items: flex-end;
}

.header-image{
    margin: 30px 30px 0 30px;
}

/* main section */

.main-text h2{
    margin-bottom: 5px;
}

.main-text{
    text-align: center;
    margin-bottom: 30px;
}

.main-items{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.main-item{
    text-align: center;
    margin: 0 20px 0;
    box-shadow: 10px 12px 10px rgba(60, 54, 78, 0.178);
}

.main-item button{
    background-color: red;
    color: white;
    padding: 4px 4px;
    font-weight: bold;
    margin: 10px 0 15px;
    border-radius: 6px;
    cursor: pointer;
}

/* six main section */

.six-main-text{
    text-align: center;
    margin-bottom: 30px;
}

.six-main-items{
    display: flex;
    justify-content: center;
}

.six-main-item{
    text-align: center;
    margin: 10px;
    box-shadow: 10px 12px 10px rgba(60, 54, 78, 0.178);
}

.six-main-item button{
    border-radius: 4px;
    background-color: red;
    color: white;
    padding: 6px;
    text-align: center;
    margin: 40px 0;
    cursor: pointer;
}

.six-name-item_1{
    font-weight: bold;
}

.six-name-item_2{
    font-weight: bold;
    color: red;
}

/* lotery section */

.lotery{
    background-color: red;
    padding: 0 0 0 30px;
    color: white;
    box-shadow: 10px 10px 7px rgba(41, 46, 90, 0.281);
    display: flex;
    justify-content: space-between;
    margin: 20px 0 20px;
}

.lotery-item img{
    display: block;
}

.lotery-text{
    padding: 5px;
}

.lotery-text_1{
    font-size: larger;
}

.lotery-text_2{
    font-size: larger;
    font-weight: bold;
}

.lotery-text_3{
    font-weight: bold;
    color: yellow;
    font-size: large;
}

/* order section */

.order{
    margin-left: 50px;
}

.yellow{
    background-color: yellow;
    margin: 30px 0 30px;
    padding: 10px 0 10px 30px;
}

.grey{
    color: grey;
}

.order_section{
    display: flex;
    justify-content: center;
}

.order_section p{
    font-size: 15px;
    font-weight: bold;
    color: #6cc76c;
}

.order_section hr{
    width: 100%;
    border: none;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.671);
    margin-bottom: 24px;
}

.order-button{
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #6cc76c;
    padding: 10px 20px 10px 20px;
    margin-bottom: 50px;
    cursor: pointer;
}

.order-button:hover{
    background-color: #5a9b5a;
}

.order_section label{
    font-weight: bold;
}

.order_section input{
    padding: 10px;
    margin: 10px 0 10px;
    width: 300px;
    border: 1px ;
    background-color: rgb(214, 214, 214);
    color: rgb(80, 80, 80);
    box-shadow: 2px 2px 7px 4px rgba(0, 0, 0, 0.336);
}

/* tp */

.tp{
    position: fixed;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.tp:hover{
    cursor: pointer;
    transform: scale(1.1);
}

/* Podarok */

.podarok{
    position: fixed;
    left: 0;
    top: 10px;
    transition: 0.2s ease-in-out;
}

.podarok:hover{
    cursor: pointer;
    transform: scale(1.1);
}


.modal{
    position: fixed;
    display: none;
    left: 0;
    top: 0;
    z-index: 999;
    padding-top: 100px;
    width: 100%;
    height: 100%;
    background-color: rgb(8, 6, 0, 0.4);
}

.modal-content{
    background-color: rgb(255, 255, 255);
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 6px 6px 10px 2px rgba(29, 62, 86, 0.18);
}

.close{
    color: rgb(161, 161, 161);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover{
    cursor: pointer;
    color: #000;
}

.reset{
	background-color:#d91f1f;
	border-radius:8px;
    color: white;
	font-size: 14px;
	padding: 7px 30px;
    margin: 0 20px 20px;
}

.reset:hover {
    cursor:pointer;
	background-color:#b50606;
}

.send-rating{
	background-color:#1fa7d9;
	border-radius:8px;
    color: white;
	font-size: 14px;
	padding: 7px 30px;
    margin-bottom: 20px;
}

.send-rating:hover {
    cursor:pointer;
	background-color:#069eb5;
}

.rating-button{
    display: flex;
    justify-content: center;
}

.rating-star{
    display: flex;
    justify-content: center;
}

.rating{
    text-align: center;
    margin-bottom: 50px;
}
